/*******************************************************
 *
 * Global style
 *
 *******************************************************/
 
/* Body */
body {
	position: relative;
	margin-bottom: 20px;
    margin: 0px;
}

/* Sticky navbar */
.affix {
	position: fixed;
	top: 20px;
	z-index: 9999 !important;
}

 /* Links */
a {
	color: #777;
}

a:hover,
a:focus {
	color: #0e4092;                 
	text-decoration: none;
}

/* Captions */
h2 {
    padding-top: 0px;
    padding-bottom: 6px;
}

h3 {
    padding-bottom: 6px;
    font-size: 27px;
    border-bottom: solid 1.25px #164194;
    color:#164194;
}


/*******************************************************
 *
 * Nav Sidebar
 *
 *******************************************************/

/* sidebar */
.bs-docs-sidebar {
    padding-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

  
/* all links */
.bs-docs-sidebar .nav>li>a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 15px;
    font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 13px;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>li>a:hover, 
.bs-docs-sidebar .nav>li>a:focus {
    color: #0e4092;                 
    text-decoration: none;          
    background-color: transparent;  
    border-left: 2px solid #0e4092; 
}

/* all active links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a, 
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
    display: none;           
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
    display: block;           
}


/*******************************************************
 *
 * List groups
 *
 *******************************************************/

.list-group {
	margin-bottom: 0px;
}

.list-group-item:first-child {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.list-group-item {
    border: 0px;
    padding: 0px;
    border: 0px solid;
}

.list-group-item .content,
.list-group-item a.content {
    color: black;
    display: block;
    border-style: solid;
    border-right-width: 2px;
	border-left-width: 0px;
    border-color: #ffffff;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 10px;
}

.list-group-item h4,
.list-group-item h4 a {
    color: black;
}

.list-group-item h4 a:hover {
    color: #563d7c;                 
}

.list-group-item .content:hover {
    border-style: solid;
    border-right-width: 2px;
    border-right-color: #0e4092;
    background-color: #fafafa;
}

.list-group-item a.content:hover {
    color: #563d7c;                 
    text-decoration: none;          
    display: block;
}

.list-group-item h4 a:hover {
    color: #563d7c;                 
}

.list-group-item .label a,
.list-group-item .label a:hover {
    color: white;
}

/* Defines the style for custom item in lists (the checkmark in this case) */
.fa-li.icon {
    padding-top:15px !important;
    margin-left:0pt;
}


/*******************************************************
 *
 * Header
 *
 *******************************************************/

 /*---------- Top navbar  ----------*/

.navbar {
    width: 100%;
    background: #e3f2fd;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.navbar .nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    display: flex;
    width: 100%;
    /*overflow: hidden; */
}

.navbar .nav li {
    flex:1 0 auto;
    text-align: center;
}


.navbar-default {
    background-color: white;
    border: none;
}

/* Brand area (i.e., name) */ 
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
    color: black;
    font-size: 24px;
	font-weight: 700;
	padding-left: 10px;
}

/* Navbar button */


/* Navbar button hover */
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
	color: red;
	color: red;
} 
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #0e4092;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: white;
}

/* Navbar when functioning as banner */

/* Background when hovered over a link */
.navbar .nav li a:hover {
    background-color: #eeeeee;
}

.navbar .nav li a {
    background-color: #e3f2fd;
    display: block;
    text-align: center;
    text-decoration: none;
    padding:10px 0;
    margin: 3px;
    border-radius: 4px;
}

/* Navbar when in collasted mode */
@media (max-width:767px){
    .navbar .nav li a {
        background-color: #e3f2fd;
    }
    .navbar .nav li {
        text-align: center;
        padding-left: 10px;
        
    }
}


/*******************************************************
 *
 * Others
 *
 *******************************************************/

table {
    border-collapse:separate; 
    border-spacing: 0 0.6em;
  }


.buttons{
    color: black;
    text-decoration: none;
    margin-left:10px;
  }

nav a {
    font-weight: bold;
    color: var(--accent1-color); 
    background-color: var(--background-color);
    width: 6em;
    font-size: 1.2em;
    text-align: center;
  }

  /* Add an active class to highlight the current page */
.active {
    color: #164194;
  }

/* Dropdown Button */
.dropbtn {
    font-weight: bold;
    background-color: var(--background-color);
    padding: 14px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    font-size: 10px;
    min-width: 116px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #563d7c;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block; background-color: #eeeeee; color: #0e4092;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #eeeeee; color: #0e4092;}


  /* Others */
  .aligncenter {
      text-align: center;
  }


  .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }


  figcaption {
    font-style: italic;
    padding: 2px;
    text-align: center;
  }

  .slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    text-align: center;

  }

  /* Hide all images initially */
  .slide {
    display: none;
  }

  /* Show the first image */
  .slide:first-child {
    display: block;
  }

  /* Style for dots */
  .dot-container {
    text-align: center;
    margin-top: 10px;
  }

  .dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }

  .active_dot {
    background-color: #717171;
  }

  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-left: 0; /* Adjust this if needed */
}


.dropdown-item{
    background-color: white !important;
    color: #717171;
    width: 95%; /* Ensure the dropdown items take the full width of the dropdown menu */
    text-align: center; 

}



.filter-img{
    filter: invert(15%) sepia(76%) saturate(2558%) hue-rotate(213deg) brightness(97%) contrast(91%);
}
